{% extends 'base/base.html' %}
{% load static %}

{% block title %}Add Buyer - SkyTex ERP{% endblock %}

{% block page_title %}Add Buyer{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="stat-card">
                <form method="post">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <h6>Please fix the following errors:</h6>
                            <ul class="mb-0">
                                {% for field, errors in form.errors.items %}
                                    <li>{{ field }}: {{ errors|join:", " }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Buyer Code *</label>
                                {{ form.buyer_code }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Buyer Name *</label>
                                {{ form.buyer_name }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Country *</label>
                                {{ form.country }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Email *</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Phone *</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Credit Days</label>
                                {{ form.credit_days }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Credit Limit</label>
                                {{ form.credit_limit }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Address *</label>
                        {{ form.address }}
                    </div>
                    
                    <div class="mt-4 border-top pt-3">
                        <button type="submit" class="btn btn-gradient">
                            <i class="fas fa-save"></i> Create Buyer
                        </button>
                        <a href="{% url 'accounts:buyers_list' %}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}